//Colours
$grey:  #333;
$white: #fff;
$light-blue: #B5D0E2;
$blue: #2099e8;

//Navigation colours
$nav-background: $grey;
$nav-text-color: $white;

//Clock variables
$clock-text-color: $white;
$clock-bg-color: $light-blue;
$clock-border-color: $blue;
